<div class="filterBy">
  <input type="text" placeholder="שם" [ngModel]="filterValues.byName.value" (ngModelChange)="setNewValue('byName', $event)" [ngModelOptions]="{updateOn: 'blur'}">
  <input type="text" placeholder="עיר" [ngModel]="filterValues.byCity.value" (ngModelChange)="setNewValue('byCity', $event)" [ngModelOptions]="{updateOn: 'blur'}">
</div>
<div class="table">
  <div class="table-item table-head">
    <p>שם</p>
    <p>עיר</p>
    <p>רחוב</p>
  </div>
  <div *ngFor="let user of users | filter : filterValues.byName : filterValues.byCity" class="table-item table-body">
    <p>{{user.name}}</p>
    <p>{{user.address.city}}</p>
    <p>{{user.address.street}}</p>
  </div>
</div>